
<mat-sidenav-container>
  <mat-sidenav #sideNav
               [mode]="isSmall ? 'over' : 'side'"
               [opened]="!isSmall"
               class="mat-elevation-z10">
    <mat-toolbar>
      Menu
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/basic">
        <mat-icon mat-list-icon>view_agenda</mat-icon>
        <p>Basic</p>
      </a>
      <a mat-list-item routerLink="/responsive">
        <mat-icon mat-list-icon>tablet_android</mat-icon>
        <p>Responsive</p>
      </a>
      <a mat-list-item routerLink="/card">
        <mat-icon mat-list-icon>picture_in_picture</mat-icon>
        <p>Card</p>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="content">
    <button mat-button (click)="sideNav.toggle()">
      <mat-icon [fxHide.gt-sm]="true" class="menu">menu</mat-icon>
    </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
