
//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
//@import "~@angular/material/prebuilt-themes/purple-green.css";

@import "../node_modules/snazzy-info-window/dist/snazzy-info-window.css";

body {
  margin: 0;
}

button.floating-action {
  position: fixed!important;
  bottom: 40px;
  right: 40px;
}

mat-card.spacer {
  margin: 20px;
}
