@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
}

button.floating-action {
  position: fixed!important;
  bottom: 40px;
  right: 40px;
}

mat-card.spacer {
  margin: 20px;
}
