
<mat-card class="content-panel">
  <mat-toolbar>{{selected}} of {{todos.length}} completed</mat-toolbar>
  <mat-progress-bar color="primary"
                    mode="determinate"
                    [value]="selectedPercentage">
  </mat-progress-bar>
  <mat-list>
    <mat-list-item *ngFor="let todo of todos">
      <mat-slide-toggle [(ngModel)]="todo.done"
                        fxFlex="10">
      </mat-slide-toggle>
      <p [class.complete]="todo.done"
         fxFlex="50">
        {{todo.description}}
      </p>
      <p fxFlex="20">
        13-Apr-2018
      </p>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
  <mat-form-field>
    <input matInput
           placeholder="Add Todo"
           [(ngModel)]="newTodo"
           (change)="onChange()">
  </mat-form-field>
</mat-card>

<button mat-fab color="primary" routerLink="/todo" class="floating-action">
  <mat-icon>add</mat-icon>
</button>
