
<mat-card class="content-panel">
  <mat-selection-list>
    <mat-list-option *ngFor="let todo of todos"
                     checkboxPosition="before"
                     [selected]="todo.done"
                     (selectionChange)="onChange($event)">
        <p [class.complete]="todo.done">{{todo.description}}</p>
      <mat-divider></mat-divider>
    </mat-list-option>
  </mat-selection-list>
</mat-card>

<button mat-fab color="primary" routerLink="/todo" class="floating-action">
  <mat-icon>add</mat-icon>
</button>
